<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="webview-container">
    <!-- 헤더 포함 -->
    <header th:insert="~{header :: header}"></header>
    <main>
        <div class="body-container">
            <div class="character-container">
                <video id="video1" autoplay muted loop playsinline style="width: 100%; height: auto; object-fit: cover;">
                    <source id="video1Source" src="/mov/listen.mov" type="video/mp4">
                </video>
                <video id="video2" autoplay muted loop playsinline style="width: 100%; height: auto; object-fit: cover; opacity: 0; position: absolute; top: 0; left: 0;">
                    <source id="video2Source" src="/mov/speak.mov" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="bottom-container">
            <div class="switch-container">
                <button class="record-button" id="recordBtn">
                    <span class="button-text" id="buttonText">말하기</span>
                    <div class="button-background"></div> <!-- 작은 원 배경 유지 -->
                </button>
            </div>
        </div>
    </main>
</div>

<script src="/js/main.js"></script>
</body>
</html>
