<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="webview-container">
    <!-- 헤더 포함 -->
    <header th:insert="~{header :: header}"></header>
    <main>
        <div class="body-container">
            <div class="character-container">
                <button class="record-button">
                    <img src="/images/test.png" alt="메인 캐릭터">
                </button>
            </div>
        </div>
        <div class="bottom-container">
            <div class="switch-container">
                <button class="end-button">
                    <img src="/images/switch.png" alt="전원 버튼">
                </button>
            </div>
        </div>
    </main>
</div>

</body>
</html>
